<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>Yeoman - 为现代web应用而生的现代工作流 | {{ page.title }}</title>
  {% else %}
  <title>Yeoman - 为现代web应用而生的现代工作流</title>
  {% endif %}
  <meta name="viewport" content="width=device-width">
  {% if page.keywords %}
  <meta name="keywords" content="yeoman, yeoman.js, 工作流, workflow, {{ page.keywords }}">
  {% else %}
  <meta name="keywords" content="yeoman, yeoman.js, web前端, workflow, 工作流, JavaScript, Node.js, Node, Bower, Grunt">
  {% endif %}
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% else %}
  <meta name="description" content="Yeoman中文社区是由爱好者发起的Yeoman中文交流社区，关注web应用工作流工具Yeoman的应用推广。">
  {% endif %}
  <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Lekton|Ubuntu+Mono:400,700" rel="stylesheet">
  <link href="/assets/css/normalize.css" rel="stylesheet">
  <link href="/assets/css/yeoman.css" rel="stylesheet">
  <link href="/assets/css/prettify.css" rel="stylesheet">
  <link href="/assets/css/forkit.css" rel="stylesheet">
  {% if page.class %}
  <link href="/assets/css/{{page.class}}.css" rel="stylesheet">
  {% endif %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="/assets/js/libs/prettify.js"></script>
  <script src="/assets/js/libs/jquery.timeago.js"></script>
  <script src="/assets/js/libs/list.js"></script>
  <script src="/assets/js/libs/lodash.min.js"></script>
  <script src="/assets/js/script.js"></script>
</head>
