  <nav>
    <header><a href="/index.html"><img src="/assets/img/yeoman-logo.png"></a></header>
    <ul>
      <li class="nav-divider"><a href="/index.html"><img src="/assets/img/icon-home.png">主页</a></li>
      <li class="nav-divider"><a href="/whyyeoman.html"><img src="/assets/img/icon-why-yeoman.png">为什么选择Yeoman?</a></li>
      <li><a href="/gettingstarted.html"><img src="/assets/img/icon-getting-started.png">新手上路(1.0)</a></li>
      <li class="nav-sub"><a href="/about.html">关于Yeoman</a></li>
      <li class="nav-sub"><a href="/roadmap.html">路线图</a></li>
      <li class="nav-sub"><a href="/deployment.html">部署</a></li>
      <li class="nav-sub"><a href="/support.html">获得支持</a></li>
      <li class="nav-divider nav-sub"><a href="/packagemanager.html">包管理器</a></li>
      <li><a href="/blog/index.html">Blog</a></li>
      <li class="nav-sub"><a href="/articles.html">推荐文章</a></li>
      <li class="nav-sub nav-divider"><a href="/docs/index.html">相关译文</a></li>
      <li><a href="/generators.html">生成器</a></li>
      <li class="nav-sub"><a href="/community-generators.html">社区贡献的生成器</a></li>
      <li class="nav-sub"><a href="/generators.html#writing-your-first-generator">编写你自己的生成器</a></li>
      <li class="nav-sub"><a href="/generators.html#get-help">得到帮助</a></li>
      <li class="nav-sub"><a href="/generators.html#reference-materials">参考资料</a></li>
      <li class="nav-sub"><a href="/generators.html#snippets">代码片段</a></li>
      <li class="nav-divider nav-sub"><a href="/generators.html#frequently-asked-questions">FAQ</a></li>
      <li><a href="https://github.com/qivhou/yeoman-cn/tree/master/wiki-cn"><img src="/assets/img/icon-documentation.png">文档</a></li>
      <li class="nav-sub"><a href="/road.html">通向1.0版本之路</a></li>
      <li class="nav-sub nav-divider"><a href="/migrate.html">从0.9版本迁移</a></li>
      <li><a href="/faq.html"><img src="/assets/img/icon-faqs.png">FAQ</a></li>
      <li class"nav-divider"><a href="https://plus.google.com/101063139999404044459/posts"><img src="/assets/img/icon-google-plus.png">Google+</a></li>
      <li class="nav-divider"><a href="http://twitter.com/yeoman"><img src="/assets/img/icon-twitter.png">Twitter</a></li>
      <li><a href="http://github.com/yeoman/yeoman"><img src="/assets/img/icon-github.png">GitHub</a></li>
      <li><a href="https://github.com/yeoman/yeoman/blob/master/contributing.md"><img src="/assets/img/icon-contributing.png">参与贡献</a></li>
      <li class="nav-sub"><a href="https://github.com/qivhou/yeoman-cn/issues">内容翻译问题</a></li>
      <li class="nav-sub"><a href="https://github.com/qivhou/yeoman-cn/">参与中文社区翻译</a></li>
      <li class="nav-sub"><a href="https://github.com/qivhou/yeomanjs.org/">参与中文社区网站建设</a></li>
    </ul>
  </nav>
